*{
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Tajawal', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  background-color: #333;
  color: white;
  gap:3rem;
  padding: 0 1rem;
  /* justify-content: space-between; */
  
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  margin:0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap:1rem;
  
}

.nav ul li{
  display: flex;
  align-items: stretch;
}

ul a:hover {
  background-color: #777;
}

.nav a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 8px;
  height: 100%;
  min-width: 5.5rem;
  justify-content: center;
}



.card {
  background-color: #fff;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  box-shadow: 0px 1px 1px gray;
  cursor: pointer;
}

.card:hover{
  background-color: #F4F5F7;
}